.header{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
}

.topLink{
    cursor: cursor;
    color: gray;
    text-decoration: none;
    font-weight: 200;
    padding-left: 20px;
}

.version{
    color: gray;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.top{
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
}

.vsc{
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.2px;
}

.buttons{
    padding
}